body{
    background-color: #121212;
}

.container {
    width: 90%;
    margin: 0 auto;
}
.header{
    color: #81c784;
    padding-left: 50px;
    font-size: 2rem;
}
.img{
   width: 200px;
   height: 200px;
   margin: 0 auto;
   border-radius: 50%;
}

.text{
    color: white;
    font-size: 18px;
}